<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MySampleRoutingServiceBehaviour">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <!-- The Router Table Contains Entries for service -->
          <routing filterTableName="SampleRoutingServiceTable" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:7000/DemoServices/SimpleEchoService"
                binding="basicHttpBinding"
                contract="*"
                name="BasicHttp_SimpleEchoService"></endpoint>
    </client>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService"
               behaviorConfiguration="MySampleRoutingServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7000/DemoServices/SampleRoutingService/" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  name="MySampleServiceEndpoint"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter" />
      </service>
    </services>
    <routing>
      <filters>
        <filter name="EchoServiceFilter"
                filterType="Action"
                filterData="http://routingdemo.com/IEchoService/GetData" />
      </filters>
      <filterTables>
        <filterTable name="SampleRoutingServiceTable">
          <add filterName="EchoServiceFilter" endpointName="BasicHttp_SimpleEchoService" />
        </filterTable>
      </filterTables>
    </routing>
  </system.serviceModel>
</configuration>